@import '../../var.scss';

#tokenomics {
  color: $black;
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      justify-self: center;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 20px;
      line-height: 1.5em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .text-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        color: inherit;
        text-decoration: underline;
      }
      .left {
        box-sizing: border-box;
        padding: 0px 50px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .chart-title {
          font-size: 1.5em;
          font-weight: 800;
          margin-bottom: 20px;
        }
      }
      .right {
        width: 50%;
        padding: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {
  #tokenomics {
    min-height: 100vh;
    .container {
      box-sizing: border-box;
      p {
        font-size: 1rem;
      }
      .text-container {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          color: inherit;
          text-decoration: underline;
        }
        .left {
          box-sizing: border-box;
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 350px;
        }
        .right {
          margin-top: 30px;
          text-align: justify;
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}