body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Heebo', sans-serif;
  font-size: 1.1em;
  box-sizing: border-box;
}

#root {
  height: fit-content;
}

html {
  background-image: linear-gradient(
    18deg,
    white 5%,
    #ffda8a 20%,
    rgb(250, 179, 235) 60%,
    #ac1ea2,
    #cfa048);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4em;
  color: #42174b;
  background-image: linear-gradient(-45deg,  #42174b 40%, #4F7CAC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-container {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 100px 50px;
}

@media (max-width: 1200px) {
  html {
    background-image: linear-gradient(
      18deg,
      white 5%,
      #ffda8a 20%,
      rgb(250, 179, 235) 60%,
      #ac1ea2, 
      #cfa048)
    ;
  }
  h1 {
    font-size: 2.5em;
  }
  .container {
    padding: 20px;
  }
}